# Practica 39 - Operaciones con pandas sobre un 'json nested'

## Analizar con pandas el archivo anidado `companies.json`

### Rehacer los códigos del notebook `JSON_Limpiar.ipynb` a partir de la `Sección 2- Análisis JSON anidado con Pandas` Desde la celda de código 25.
- Añadir algunos cálculos de estadísticas descriptivas básicas (todos los que ud. quiera) sobre el dataframe final y guardar en otro dataframe dichos cálculos estádisticos. De forma opcional añada algunos 'plots' con matplotlib si quiere.

In [1]:
import json

# Nested JSON structure from the uploaded companies.json file
nested_json = {
    "companies": [
        {
            "company": "Tech Solutions",
            "employees": [
                {
                    "name": "John Doe",
                    "age": 30,
                    "address": {
                        "street": "123 Main St",
                        "city": "New York",
                        "zipcode": "10001"
                    },
                    "skills": ["Python", "Data Analysis"],
                    "salary": 3450
                },
                {
                    "name": "Jane Smith",
                    "age": 25,
                    "address": {
                        "street": "456 Market St",
                        "city": "San Francisco",
                        "zipcode": "94105"
                    },
                    "skills": ["JavaScript", "React"],
                    "salary": 2800
                },
                {
                    "name": "Mike Johnson",
                    "age": 35,
                    "address": {
                        "street": "789 Broadway",
                        "city": "Los Angeles",
                        "zipcode": "90015"
                    },
                    "skills": ["Java", "Spring"],
                    "salary": 4200
                }
            ]
        },
        {
            "company": "Innovative Apps",
            "employees": [
                {
                    "name": "Alice Brown",
                    "age": 28,
                    "address": {
                        "street": "101 First Ave",
                        "city": "Seattle",
                        "zipcode": "98101"
                    },
                    "skills": ["Ruby", "Rails"],
                    "salary": 3100
                },
                {
                    "name": "Bob White",
                    "age": 32,
                    "address": {
                        "street": "202 Second Ave",
                        "city": "Austin",
                        "zipcode": "73301"
                    },
                    "skills": ["PHP", "Laravel"],
                    "salary": 2300
                }
            ]
        },
        {
            "company": "Cloud Services",
            "employees": [
                {
                    "name": "Charlie Green",
                    "age": 29,
                    "address": {
                        "street": "303 Third St",
                        "city": "Chicago",
                        "zipcode": "60601"
                    },
                    "skills": ["AWS", "Azure"],
                    "salary": 3700
                },
                {
                    "name": "Dana Blue",
                    "age": 27,
                    "address": {
                        "street": "404 Fourth St",
                        "city": "Miami",
                        "zipcode": "33101"
                    },
                    "skills": ["GCP", "Docker"],
                    "salary": 2700
                }
            ]
        },
        {
            "company": "AI Innovations",
            "employees": [
                {
                    "name": "Eva Black",
                    "age": 33,
                    "address": {
                        "street": "505 Fifth Ave",
                        "city": "Boston",
                        "zipcode": "02101"
                    },
                    "skills": ["TensorFlow", "Keras"],
                    "salary": 4500
                },
                {
                    "name": "Frank White",
                    "age": 36,
                    "address": {
                        "street": "606 Sixth Ave",
                        "city": "Denver",
                        "zipcode": "80201"
                    },
                    "skills": ["PyTorch", "SciKit-Learn"],
                    "salary": 5100
                }
            ]
        },
        {
            "company": "Cyber Security Inc",
            "employees": [
                {
                    "name": "George Brown",
                    "age": 31,
                    "address": {
                        "street": "707 Seventh St",
                        "city": "Houston",
                        "zipcode": "77001"
                    },
                    "skills": ["Network Security", "Penetration Testing"],
                    "salary": 3900
                },
                {
                    "name": "Hannah White",
                    "age": 26,
                    "address": {
                        "street": "808 Eighth St",
                        "city": "Dallas",
                        "zipcode": "75201"
                    },
                    "skills": ["Cryptography", "SIEM"],
                    "salary": 3400
                }
            ]
        },
        {
            "company": "Fintech Solutions",
            "employees": [
                {
                    "name": "Ivan Black",
                    "age": 30,
                    "address": {
                        "street": "909 Ninth Ave",
                        "city": "Charlotte",
                        "zipcode": "28201"
                    },
                    "skills": ["Blockchain", "Smart Contracts"],
                    "salary": 3600
                },
                {
                    "name": "Judy White",
                    "age": 28,
                    "address": {
                        "street": "1010 Tenth Ave",
                        "city": "Orlando",
                        "zipcode": "32801"
                    },
                    "skills": ["Finance", "Machine Learning"],
                    "salary": 2900
                }
            ]
        },
        {
            "company": "Healthcare IT",
            "employees": [
                {
                    "name": "Kyle Brown",
                    "age": 34,
                    "address": {
                        "street": "1111 Eleventh Ave",
                        "city": "Philadelphia",
                        "zipcode": "19101"
                    },
                    "skills": ["EMR", "EHR"],
                    "salary": 4300
                },
                {
                    "name": "Laura White",
                    "age": 29,
                    "address": {
                        "street": "1212 Twelfth Ave",
                        "city": "Phoenix",
                        "zipcode": "85001"
                    },
                    "skills": ["HL7", "FHIR"],
                    "salary": 3200
                }
            ]
        },
        {
            "company": "E-commerce Experts",
            "employees": [
                {
                    "name": "Mike Brown",
                    "age": 32,
                    "address": {
                        "street": "1313 Thirteenth Ave",
                        "city": "San Diego",
                        "zipcode": "92101"
                    },
                    "skills": ["Magento", "Shopify"],
                    "salary": 2900
                },
                {
                    "name": "Nina White",
                    "age": 27,
                    "address": {
                        "street": "1414 Fourteenth Ave",
                        "city": "Portland",
                        "zipcode": "97201"
                    },
                    "skills": ["WooCommerce", "BigCommerce"],
                    "salary": 3800
                }
            ]
        },
        {
            "company": "Game Development Co",
            "employees": [
                {
                    "name": "Oscar Brown",
                    "age": 30,
                    "address": {
                        "street": "1515 Fifteenth Ave",
                        "city": "Las Vegas",
                        "zipcode": "89101"
                    },
                    "skills": ["Unity", "Unreal Engine"],
                    "salary": 4800
                },
                {
                    "name": "Pat White",
                    "age": 26,
                    "address": {
                        "street": "1616 Sixteenth Ave",
                        "city": "Salt Lake City",
                        "zipcode": "84101"
                    },
                    "skills": ["Game Design", "3D Modeling"],
                    "salary": 3600
                }
            ]
        },
        {
            "company": "EdTech Innovations",
            "employees": [
                {
                    "name": "Quinn Brown",
                    "age": 28,
                    "address": {
                        "street": "1717 Seventeenth Ave",
                        "city": "Minneapolis",
                        "zipcode": "55401"
                    },
                    "skills": ["Moodle", "Canvas"],
                    "salary": 3200
                },
                {
                    "name": "Riley White",
                    "age": 31,
                    "address": {
                        "street": "1818 Eighteenth Ave",
                        "city": "Atlanta",
                        "zipcode": "30301"
                    },
                    "skills": ["Blackboard", "Schoology"],
                    "salary": 4000
                }
            ]
        }
    ]
}

# Convert the dictionary into a JSON string
nested_json_str = json.dumps(nested_json, indent=4)
print(nested_json_str)

{
    "companies": [
        {
            "company": "Tech Solutions",
            "employees": [
                {
                    "name": "John Doe",
                    "age": 30,
                    "address": {
                        "street": "123 Main St",
                        "city": "New York",
                        "zipcode": "10001"
                    },
                    "skills": [
                        "Python",
                        "Data Analysis"
                    ],
                    "salary": 3450
                },
                {
                    "name": "Jane Smith",
                    "age": 25,
                    "address": {
                        "street": "456 Market St",
                        "city": "San Francisco",
                        "zipcode": "94105"
                    },
                    "skills": [
                        "JavaScript",
                        "React"
                    ],
                    "salary": 2800
                },
                {
                    "name": "Mike Johnson",
                    "age": 35,
                    "address": {
                        "street": "789 Broadway",
                        "city": "Los Angeles",
                        "zipcode": "90015"
                    },
                    "skills": [
                        "Java",
                        "Spring"
                    ],
                    "salary": 4200
                }
            ]
        },
        {
            "company": "Innovative Apps",
            "employees": [
                {
                    "name": "Alice Brown",
                    "age": 28,
                    "address": {
                        "street": "101 First Ave",
                        "city": "Seattle",
                        "zipcode": "98101"
                    },
                    "skills": [
                        "Ruby",
                        "Rails"
                    ],
                    "salary": 3100
                },
                {
                    "name": "Bob White",
                    "age": 32,
                    "address": {
                        "street": "202 Second Ave",
                        "city": "Austin",
                        "zipcode": "73301"
                    },
                    "skills": [
                        "PHP",
                        "Laravel"
                    ],
                    "salary": 2300
                }
            ]
        },
        {
            "company": "Cloud Services",
            "employees": [
                {
                    "name": "Charlie Green",
                    "age": 29,
                    "address": {
                        "street": "303 Third St",
                        "city": "Chicago",
                        "zipcode": "60601"
                    },
                    "skills": [
                        "AWS",
                        "Azure"
                    ],
                    "salary": 3700
                },
                {
                    "name": "Dana Blue",
                    "age": 27,
                    "address": {
                        "street": "404 Fourth St",
                        "city": "Miami",
                        "zipcode": "33101"
                    },
                    "skills": [
                        "GCP",
                        "Docker"
                    ],
                    "salary": 2700
                }
            ]
        },
        {
            "company": "AI Innovations",
            "employees": [
                {
                    "name": "Eva Black",
                    "age": 33,
                    "address": {
                        "street": "505 Fifth Ave",
                        "city": "Boston",
                        "zipcode": "02101"
                    },
                    "skills": [
                        "TensorFlow",
                        "Keras"
                    ],
                    "salary": 4500
                },
                {
                    "name": "Frank White",
                    "age": 36,
                    "address": {
                        "street": "606 Sixth Ave",
                        "city": "Denver",
                        "zipcode": "80201"
                    },
                    "skills": [
                        "PyTorch",
                        "SciKit-Learn"
                    ],
                    "salary": 5100
                }
            ]
        },
        {
            "company": "Cyber Security Inc",
            "employees": [
                {
                    "name": "George Brown",
                    "age": 31,
                    "address": {
                        "street": "707 Seventh St",
                        "city": "Houston",
                        "zipcode": "77001"
                    },
                    "skills": [
                        "Network Security",
                        "Penetration Testing"
                    ],
                    "salary": 3900
                },
                {
                    "name": "Hannah White",
                    "age": 26,
                    "address": {
                        "street": "808 Eighth St",
                        "city": "Dallas",
                        "zipcode": "75201"
                    },
                    "skills": [
                        "Cryptography",
                        "SIEM"
                    ],
                    "salary": 3400
                }
            ]
        },
        {
            "company": "Fintech Solutions",
            "employees": [
                {
                    "name": "Ivan Black",
                    "age": 30,
                    "address": {
                        "street": "909 Ninth Ave",
                        "city": "Charlotte",
                        "zipcode": "28201"
                    },
                    "skills": [
                        "Blockchain",
                        "Smart Contracts"
                    ],
                    "salary": 3600
                },
                {
                    "name": "Judy White",
                    "age": 28,
                    "address": {
                        "street": "1010 Tenth Ave",
                        "city": "Orlando",
                        "zipcode": "32801"
                    },
                    "skills": [
                        "Finance",
                        "Machine Learning"
                    ],
                    "salary": 2900
                }
            ]
        },
        {
            "company": "Healthcare IT",
            "employees": [
                {
                    "name": "Kyle Brown",
                    "age": 34,
                    "address": {
                        "street": "1111 Eleventh Ave",
                        "city": "Philadelphia",
                        "zipcode": "19101"
                    },
                    "skills": [
                        "EMR",
                        "EHR"
                    ],
                    "salary": 4300
                },
                {
                    "name": "Laura White",
                    "age": 29,
                    "address": {
                        "street": "1212 Twelfth Ave",
                        "city": "Phoenix",
                        "zipcode": "85001"
                    },
                    "skills": [
                        "HL7",
                        "FHIR"
                    ],
                    "salary": 3200
                }
            ]
        },
        {
            "company": "E-commerce Experts",
            "employees": [
                {
                    "name": "Mike Brown",
                    "age": 32,
                    "address": {
                        "street": "1313 Thirteenth Ave",
                        "city": "San Diego",
                        "zipcode": "92101"
                    },
                    "skills": [
                        "Magento",
                        "Shopify"
                    ],
                    "salary": 2900
                },
                {
                    "name": "Nina White",
                    "age": 27,
                    "address": {
                        "street": "1414 Fourteenth Ave",
                        "city": "Portland",
                        "zipcode": "97201"
                    },
                    "skills": [
                        "WooCommerce",
                        "BigCommerce"
                    ],
                    "salary": 3800
                }
            ]
        },
        {
            "company": "Game Development Co",
            "employees": [
                {
                    "name": "Oscar Brown",
                    "age": 30,
                    "address": {
                        "street": "1515 Fifteenth Ave",
                        "city": "Las Vegas",
                        "zipcode": "89101"
                    },
                    "skills": [
                        "Unity",
                        "Unreal Engine"
                    ],
                    "salary": 4800
                },
                {
                    "name": "Pat White",
                    "age": 26,
                    "address": {
                        "street": "1616 Sixteenth Ave",
                        "city": "Salt Lake City",
                        "zipcode": "84101"
                    },
                    "skills": [
                        "Game Design",
                        "3D Modeling"
                    ],
                    "salary": 3600
                }
            ]
        },
        {
            "company": "EdTech Innovations",
            "employees": [
                {
                    "name": "Quinn Brown",
                    "age": 28,
                    "address": {
                        "street": "1717 Seventeenth Ave",
                        "city": "Minneapolis",
                        "zipcode": "55401"
                    },
                    "skills": [
                        "Moodle",
                        "Canvas"
                    ],
                    "salary": 3200
                },
                {
                    "name": "Riley White",
                    "age": 31,
                    "address": {
                        "street": "1818 Eighteenth Ave",
                        "city": "Atlanta",
                        "zipcode": "30301"
                    },
                    "skills": [
                        "Blackboard",
                        "Schoology"
                    ],
                    "salary": 4000
                }
            ]
        }
    ]
}

Cargar el JSON anidado en un DataFrame de Pandas.  

Usaremos `pandas.json_normalize` para aplanar la estructura JSON y cargarla en un DataFrame.

In [8]:
import os
import pandas as pd
import json

# Verificar la ruta actual del trabajo
print("Current Working Directory:", os.getcwd())

# Definir la ruta del archivo dentro del directorio P-39
file_path = 'P-39/companies.json'

# Verificar si el archivo existe
if not os.path.exists(file_path):
    raise FileNotFoundError(f"El archivo {file_path} no se encontró.")

# Cargar los datos JSON del archivo
with open(file_path, 'r') as f:
    data = json.load(f)

# Aplanar la estructura JSON anidada
df = pd.json_normalize(data['companies'], record_path='employees', meta='company')

# Mostrar el DataFrame
print(df.head())

Current Working Directory: c:\Users\CursosTardes\Desktop\Olga GG\Modulo_5_P\PythonGH\IT-Automation-with-Python\Test
           name  age                   skills  salary  address.street  \
0      John Doe   30  [Python, Data Analysis]    3450     123 Main St
1    Jane Smith   25      [JavaScript, React]    2800   456 Market St
2  Mike Johnson   35           [Java, Spring]    4200    789 Broadway
3   Alice Brown   28            [Ruby, Rails]    3100   101 First Ave
4     Bob White   32           [PHP, Laravel]    2300  202 Second Ave

    address.city address.zipcode          company
0       New York           10001   Tech Solutions
1  San Francisco           94105   Tech Solutions
2    Los Angeles           90015   Tech Solutions
3        Seattle           98101  Innovative Apps
4         Austin           73301  Innovative Apps

In [9]:
df

,name,age,skills,salary,address.street,address.city,address.zipcode,company
0,John Doe,30,"[Python, Data Analysis]",3450,123 Main St,New York,10001,Tech Solutions
1,Jane Smith,25,"[JavaScript, React]",2800,456 Market St,San Francisco,94105,Tech Solutions
2,Mike Johnson,35,"[Java, Spring]",4200,789 Broadway,Los Angeles,90015,Tech Solutions
3,Alice Brown,28,"[Ruby, Rails]",3100,101 First Ave,Seattle,98101,Innovative Apps
4,Bob White,32,"[PHP, Laravel]",2300,202 Second Ave,Austin,73301,Innovative Apps
5,Charlie Green,29,"[AWS, Azure]",3700,303 Third St,Chicago,60601,Cloud Services
6,Dana Blue,27,"[GCP, Docker]",2700,404 Fourth St,Miami,33101,Cloud Services
7,Eva Black,33,"[TensorFlow, Keras]",4500,505 Fifth Ave,Boston,02101,AI Innovations
8,Frank White,36,"[PyTorch, SciKit-Learn]",5100,606 Sixth Ave,Denver,80201,AI Innovations
9,George Brown,31,"[Network Security, Penetration Testing]",3900,707 Seventh St,Houston,77001,Cyber Security Inc
10,Hannah White,26,"[Cryptography, SIEM]",3400,808 Eighth St,Dallas,75201,Cyber Security Inc
11,Ivan Black,30,"[Blockchain, Smart Contracts]",3600,909 Ninth Ave,Charlotte,28201,Fintech Solutions
12,Judy White,28,"[Finance, Machine Learning]",2900,1010 Tenth Ave,Orlando,32801,Fintech Solutions
13,Kyle Brown,34,"[EMR, EHR]",4300,1111 Eleventh Ave,Philadelphia,19101,Healthcare IT
14,Laura White,29,"[HL7, FHIR]",3200,1212 Twelfth Ave,Phoenix,85001,Healthcare IT
15,Mike Brown,32,"[Magento, Shopify]",2900,1313 Thirteenth Ave,San Diego,92101,E-commerce Experts
16,Nina White,27,"[WooCommerce, BigCommerce]",3800,1414 Fourteenth Ave,Portland,97201,E-commerce Experts
17,Oscar Brown,30,"[Unity, Unreal Engine]",4800,1515 Fifteenth Ave,Las Vegas,89101,Game Development Co
18,Pat White,26,"[Game Design, 3D Modeling]",3600,1616 Sixteenth Ave,Salt Lake City,84101,Game Development Co
19,Quinn Brown,28,"[Moodle, Canvas]",3200,1717 Seventeenth Ave,Minneapolis,55401,EdTech Innovations
20,Riley White,31,"[Blackboard, Schoology]",4000,1818 Eighteenth Ave,Atlanta,30301,EdTech Innovations

### Limpieza de datos

In [10]:
# Check for missing values
print(df.isna().sum())

# Fill missing values with a placeholder or drop rows/columns with missing values
# Example: Fill missing values with 'Unknown'
df.fillna('Unknown', inplace=True)

name               0
age                0
skills             0
salary             0
address.street     0
address.city       0
address.zipcode    0
company            0
dtype: int64

### Renombrar Columnas

In [11]:
df.rename(columns={
    'address.street': 'street',
    'address.city': 'city',
    'address.zipcode': 'zipcode'
}, inplace=True)
print(df.head())

           name  age                   skills  salary          street  \
0      John Doe   30  [Python, Data Analysis]    3450     123 Main St
1    Jane Smith   25      [JavaScript, React]    2800   456 Market St
2  Mike Johnson   35           [Java, Spring]    4200    789 Broadway
3   Alice Brown   28            [Ruby, Rails]    3100   101 First Ave
4     Bob White   32           [PHP, Laravel]    2300  202 Second Ave

            city zipcode          company
0       New York   10001   Tech Solutions
1  San Francisco   94105   Tech Solutions
2    Los Angeles   90015   Tech Solutions
3        Seattle   98101  Innovative Apps
4         Austin   73301  Innovative Apps

### Cambiar los tipos de datos

In [12]:
print(df.dtypes)

name       object
age         int64
skills     object
salary      int64
street     object
city       object
zipcode    object
company    object
dtype: object

In [13]:
df['age'] = df['age'].astype(int)
print(df.dtypes)

name       object
age         int32
skills     object
salary      int64
street     object
city       object
zipcode    object
company    object
dtype: object

### Ampliación de las columnas de la lista

In [14]:
# Expand the 'skills' column
skills_expanded = df['skills'].apply(pd.Series)
skills_expanded.columns = [f'skill_{i+1}' for i in skills_expanded.columns]

# Concatenate the expanded skills back to the original DataFrame
df = pd.concat([df.drop(columns='skills'), skills_expanded], axis=1)
print(df.head())

           name  age  salary          street           city zipcode  \
0      John Doe   30    3450     123 Main St       New York   10001
1    Jane Smith   25    2800   456 Market St  San Francisco   94105
2  Mike Johnson   35    4200    789 Broadway    Los Angeles   90015
3   Alice Brown   28    3100   101 First Ave        Seattle   98101
4     Bob White   32    2300  202 Second Ave         Austin   73301

           company     skill_1        skill_2
0   Tech Solutions      Python  Data Analysis
1   Tech Solutions  JavaScript          React
2   Tech Solutions        Java         Spring
3  Innovative Apps        Ruby          Rails
4  Innovative Apps         PHP        Laravel

### Guardar el DataFrame modificado a csv

In [15]:
df.to_csv('cleaned_data.csv', index=False)
print("DataFrame saved to 'cleaned_data.csv'")

DataFrame saved to 'cleaned_data.csv'